<Excubo.Blazor.LazyStyleSheet.Stylesheet Src="component_library/ComponentWithUserDefinedColor.razor.min.css" />
<div class="component-style">
    This Blazor component is defined in the <strong>ComponentLibrary</strong> package.
</div>
