@page "/"
@inject Excubo.Blazor.LazyStyleSheet.IStyleSheetService StyleSheetService
@code {
    protected override void OnInitialized()
    {
        StyleSheetService.Add("css/manual_injection.min.css");
        base.OnInitialized();
    }
}
<h1 class="italicised">Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
