@page "/"

<Excubo.Blazor.LazyStyleSheet.Stylesheet Src="css/manual_injection.min.css" />

<h1 class="italicised">Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
