<Excubo.Blazor.LazyStyleSheet.Stylesheet Src="css/component_with_style/ComponentWithUserDefinedColor.razor.min.css" />
<div class="component-style">
    This Blazor component is defined in the <strong>ComponentWithStyle</strong> package.
</div>
